{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/prop-types": "warn",
    "comma-dangle": ["error", "always-multiline"],
    "react/jsx-one-expression-per-line": "off"
  },
  "plugins": ["react"],
  "env": {
    "browser": true
  }
}
